@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.thanuHeaderBlack {
  color: #484848;
}

.thanuBlue {
  color: #6699ff;
}

@media only screen and (max-width: 768px) {
  .headerImage {
    max-width: 2200%;
  }
}

.navBarPaddingLeft {
  padding-left: 5%;
}

.navBarPaddingRight {
  padding-right: 5%;
}
